<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simurgh</title>
    <link rel="stylesheet" href="../../../static/css/style.css" />
    <link rel="stylesheet" href="../../../static/css/font-awesome.css">
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="../../../static/js/script.js" defer></script>
</head>
<body>
<header>
    <div>
        <h1>Simurgh</h1>
        <span>Demo Multi Finance</span>
    </div>
    <div>Welcome, User</div>
</header>
<div class="container">
    <aside class="sidebar">
        <ul>
            <li><a href="../portal/portal.html">Portal</a></li>

            <!-- Dropdown for Transaksi -->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Transaksi</a>
                <ul class="dropdown-menu">
                    <li><a href="../taksasi/taksasi-main.html">Taksasi</a></li>
                    <li><a href="../usermanagement/transaksi-hirarkijabatan.html">Survei</a></li>
                    <li><a href="../usermanagement/transaksi-pemindahantask.html">Validasi Survei</a></li>
                </ul>
            </li>
        </ul>
    </aside>
    <main>
        <div class="form-container">
            <h3>
                <a href="../survey/taksasi-main.html"> Taksasi </a> > <a href="../survey/taksasi-input.html"> Sparepart-Penambahan </a> > Tambah
            </h3>
            <form method="post" class="upsert-form" action="/book-library/insert-update(categoryName=${categoryName})">
                <input type="hidden" name="_csrf" value="${_csrf.token}">
                <table>
                    <tbody>
                    <!-- Sparepart (Search Dropdown) -->
                    <tr>
                        <td><label class="label-nama">Sparepart</label></td>
                        <td>
                            <div class="search-dropdown">
                                <input id="nama" name="nama" type="text" value="SP001 - Kunci stir">
                                <label for="nama" class="fa fa-search input-icon"></label>
                            </div>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <!-- Nilai Penambahan Sparepart (Number Input) -->
                    <tr>
                        <td><label class="label-nama">Nilai Penambahan Sparepart</label></td>
                        <td>
                            <input id="nilai" name="nilai" type="number" readonly min="1" max="99999999999" value="50000">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>

                    <!-- Catatan (Text Input) -->
                    <tr>
                        <td><label class="label-nama">Catatan</label></td>
                        <td>
                            <textarea id="catatan" name="catatan" rows="4" cols="50"></textarea>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!-- Simpan, Kirim, Lihat Komentar, Batal Button -->
                <button class="submit-button" type="submit">Simpan</button>
            </form>
        </div>
    </main>
</div>
</body>
</html>